.dayGrid{
    width: 875px;
    display: flex;
    flex-wrap: wrap;
    color: white;
}
.calendarDay{
    cursor: pointer;
    width: 125px;
    height: 125px;
    box-sizing: border-box;
}
.currentMonth{
    border: 1px solid white;  
}
.lastMonth{
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
#dayViewBackground{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.dayTask{
    width: auto;
    height: auto;
    border-radius: 10px;
    text-align: center;
}

.holiday{
    color: white;
    background-color: crimson;
}