*{
    margin: 0;
}

.dayGrid{
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
}
li{
    list-style-type: none;
    cursor: pointer;
    width: 150px;
    height: 150px;
}
.currentMonth{
    border: 1px solid black;  
}
.lastMonth{
    color: grey;
    border: 1px solid grey;  
}
#dayViewBackground{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
#dayViewWrapper{
    background-color: white;
    width: 90%;
    margin: 2em auto;
}
.dayTask{
    width: auto;
    height: auto;
}
.noScroll{
    height: 100vh;
    overflow: hidden;
}
.todo{
    height: auto;
    size: auto;
    cursor: default;
}
button{
    cursor: pointer;
}